<!-- Workshops Section -->
<section class="content-section">
    <div class="section-header">
        <h1 class="section-title">ATELIERE</h1>
        <div class="section-decoration"></div>
    </div>
    <div class="section-content">
        <div class="workshops-grid">
            
            @if (workshops$ | async; as workshops) {
                @if (workshops.length > 0) {
                @for (workshop of workshops; track workshop.id || $index) {
                    <div class="workshop-card">
                    <h3 class="workshop-title">{{ workshop.title }}</h3>
                    <h4 class="footer-motto">
                        <b>"{{ workshop.moto }}"</b>
                    </h4>
                    <p class="workshop-description">{{ workshop.description }}</p>
                    <h3>Vârsta recomandată: {{ workshop.age_range }}</h3>
                    </div>
                }
                } @else {
                <div class="no-workshops">
                    <p>Nu sunt disponibile ateliere în acest moment.</p>
                </div>
                }
            } @else {
                
                <div>Se încarcă atelierele...</div>
                
            }
        </div>
        <div class="motto-card">
            <span class="motto-icon">❦</span>
            <h2 class="motto">ZESTRE DE COPIL, ȚESEM POVEȘTI VII.</h2>
            <span class="motto-icon">❦</span>
        </div>
    </div>
</section>